.NewColorForm {
    display: flex;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
    align-items: center;
    justify-content: center;
  }
  
  .NewColorForm form {
    width: 60%;
    background-color: rgb(58, 50, 50);
    padding: 50px;
    border-radius: 12px;
    color:white;
    font-size: large;
  }
  
  .NewColorForm form div {
    padding: 15px;
  }
  